# --- API football-data.org ---
# Cle gratuite a obtenir sur https://www.football-data.org/client/register
FOOTBALL_API_KEY=your_api_key_here

# --- MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# - PostgreSQL
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=football_lake

# - Airflow -
AIRFLOW_UID=50000
